.transform-stand div {
  text-align: center;
}
.transform-stand .content {
  display: grid;
  gap: 1.5em;
  padding: 2.5em 1em;
}
.transform-stand .content p {
  font: var(--body);
  color: var(--Dark-grayish-blue);
}
.title-card {
  font: var(--headline2);
}
.transform-stand div a {
  font: var(--button);
  text-transform: uppercase;
  color: var(--Very-dark-blue);
  text-decoration: none;
  width: max-content;
  display: block;
  margin: auto;
  display: grid;
  place-items: center;
  font-weight: 900;
}
.transform-stand div hr {
  height: 0.6em;
  background: var(--yellow);
  border: none;
  border-radius: 100px;
  width: 115%;
  position: relative;
  z-index: -1;
  top: -0.4em;
  opacity: 0.2;
}
.transform-stand div a:hover hr {
  opacity: 1;
}
.transform-stand div:last-child hr {
  background: var(--red);
}
@media (min-width: 768px) {
  .transform-stand div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    text-align: left;
  }
  .transform-stand div img {
    height: 100%;
    object-fit: cover;
  }
  .transform-stand div:first-child picture {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  .transform-stand .content {
    padding: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    padding: clamp(5em, 5vw, 10em);
  }
  .transform-stand .content a {
    margin: initial;
  }
}
